:root {
  --text-color: #e2e8f0;
  --link-color: lab(69.75% -26.59 -27.91);
  --background-color: #0f172a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
}
a {
  color: var(--link-color);
  text-decoration: none;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 90px;
  margin-top: 20px;
}
nav .left a {
  color: rgb(226, 232, 240);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-size: 50px;
  font-weight: 700;
}
nav .right a {
  color: var(--link-color);
  margin: 0 20px;
}

nav .right {
  display: flex;
  align-items: center;
  gap: 12px;
}
/*HERO SECTION*/
.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: 50px 0;
  align-items: center;
  gap: 40px;
}
.hero-section .text {
  flex: 5;
}
.hero-section .headshot {
  flex: 2;
  display: flex;
  justify-content: right;
}
.hero-section .text h2 {
  font-size: 45px;
  color: var(--text-color);
}
.hero-section .text p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-color);
}
.hero-section .text .links {
  margin-top: 25px;
}
.hero-section .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin-bottom: 10px;
  transition: 0.1s;
}
.hero-section .text .links a :hover {
  background-color: hwb(181 65% 0%);
  border: 2px solid hwb(181 65% 0%);
}
.hero-section .headshot img {
  border-radius: 50%;
  width: 350px;
}

/*SKILL SECTION*/
.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section h2 {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
  font-size: 35px;
}

.skills-section .text {
  text-align: center;
  color: var(--text-color);
  font-size: 18px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--link-color);
  width: 200px;
  padding: 10px 20px;
  border: 1px solid var(--link-color);
  border-radius: 5px;
  margin: 10px;
  gap: 10px;
}

/*PROJECT SECTION*/
.projects {
  padding: 0 50px;
  margin-bottom: 100px;
  color: var(--text-color);
}
.projects h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}
.projects .project-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.projects .project-cards .card {
  background-color: #2d58a9;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.projects .project-cards .card:hover {
  transform: scale(1.05);
}
.projects .project-cards .card h3 {
  margin-bottom: 10px;
}
.projects .project-cards .card p {
  font-size: 16px;
  line-height: 1.5;
}
.projects .text {
  text-align: center;
  margin-bottom: 20px;
}

/*CONTACT SECTION*/
.contact {
  flex-direction: column;
  color: var(--text-color);
  text-align: center;
  height: 70vh;
  margin-bottom: 50px;
}
.contact h2 {
  font-size: 35px;
  margin-bottom: 20px;
}
.contact p {
  font-size: 18px;
  margin-bottom: 20px;
}
.contact a {
  display: -webkit-inline-box;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: #2d58a9 solid 2px;
  gap: 20px;
  padding: 10px 20px;
  width: 200px;
  margin: 20px auto;
  text-align: center;
}
.contact .contact-links a :hover {
  background-color: hwb(181 65% 0%);
  border: 2px solid hwb(181 65% 0%);
}
/*FOOTER*/
footer {
  text-align: center;
  padding: 10px 0;
  color: var(--text-color);
  margin-bottom: 20px;
  font-size: 18px;
  font-style: italic;
}

/*MEDIA QUERIES*/

@media (max-width: 850px) {
  /* HERO SECTION */
  .hero-section .text h2 {
    font-size: 35px;
  }
}
@media (max-width: 375px) {
  nav .right a {
    margin: 0 5px;
    display: flex;
  }
}

@media (max-width: 740px) {
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-section .headshot img {
    width: 250px;
  }
}
@media (max-width: 600px) {
  /* NAVBAR */
  nav {
    padding: 0 10px;
  }
  nav .right a span {
    display: none;
  }
  nav .right a {
    font-size: 20px;
    margin: 0 5px;
  }
  /* HERO SECTION */
  .hero-section {
    padding: 0 20px;
  }
  .hero-section .text h2 {
    font-size: 30px;
  }
}
/*SKILL SECTION*/
.skills-section {
  padding: 0 20px;
}

.skills-section .cells .cell {
  font-size: 16px;
}
/*PROJECT SECTION*/
.projects {
  padding: 0 20px;
}

@media (max-width: 400px) {
  .projects .project-cards .card {
    width: 100%;
  }
}
/*CONTACT SECTION*/
.contact {
  padding: 0 20px;
}
